:root {
  --primary-color: black;
  --secondry-color: #fff;
  --primary-font-family: "DM Serif Display", "Domine", serif, "Gochi Hand",
    "Kalam", "Merienda", "NTR", sans-serif, "Playfair Display", serif;

  --secondary-font-family: "Merienda", "Averia Serif Libre", cursive,
    "Gochi Hand", "Kalam", "NTR", sans-serif, "Playfair Display", serif;
}

h1,
h2,
p {
  color: var(--primary-color);
}

h1 {
  font-family: var(--primary-font-family);
  font-style: italic;

  font-size: 76px;

  font-weight: bold;
}

.hero h2 {
  font-family: var(--secondary-font-family);

  font-size: 23px;
  font-weight: normal;
  line-height: 2;
}

.hero p {
  font-family: var(--secondary-font-family);

  font-size: 32px;
  font-weight: normal;
  margin: 10px;
  margin-bottom: 0;
}

.hero {
  text-align: center;
  margin: 80px 80px 30px;
}

.btn-branding {
  background: #fc4fff;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  padding: 13px 28px;
  border: 1;
}

.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-design {
  background: url("/images/Mountain.jpg") no-repeat center fixed;
  background-size: cover;
}

.color {
  background-color: blue;
}

.navbar-custom {
  background-color: #bb5dae;
}

.blur {
  backdrop-filter: blur(5px);
}

.heading-contact-page {
  font-size: 50px;
}

.contact-page-icons {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-left: 130px;
}

.contact-me-section {
  margin-left: 90px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}

.gallery-background {
  background: linear-gradient(
      179.4deg,
      rgb(253, 240, 233) 2.2%,
      rgb(255, 194, 203) 96.2%
    )
    no-repeat center fixed;
}

.gallery-heading {
  text-align: center;
  font-size: 60px;
  margin: 125px 95px 25px;
}

.navbar-gallery {
  background: #cf8584;
}

.custom-design {
  text-align: center;
  margin-bottom: 95px;
}

.image-custom {
  width: 500px;
  height: 339px;
}

.contact-page-background {
  background: radial-gradient(
      circle at 10% 20%,
      rgb(255, 150, 152) 35.5%,
      rgb(23, 22, 39) 100.5%
    )
    no-repeat center fixed;
}

.heading-contact-page {
  font-size: 70px;
  margin-top: 60px;
}

.picture {
  border-radius: 50%;
}

.my-picture {
  margin-top: 75px;
}

.about-page-heading {
  font-size: 50px;
  margin: 50px 0 35px;
}

.about-section-content {
  margin-top: 150px;
}

.paragraph {
  font-size: 20px;
  font-family: var(--secondary-font-family);
}

.weather-app {
  margin-top: 80px;
}

.about-page-background {
  background: url("/images/sun.png") no-repeat center fixed;
  background-size: cover;
}

.about-page-navbar {
  background-color: #3b0f46;
}

.button-link-about {
  margin-top: 50px;
}

@media (max-width: 900px) {
  .about-section-content {
    text-align: center;
  }
  .weather-app {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-section-content {
    margin-top: 70px;
  }
  .about-page-heading {
    font-size: 33px;
    color: #fff;
  }
  .paragraph {
    font-size: 16px;
    color: #fff;
  }
}

@media (max-width: 389px) {
  .weather-app {
    margin-bottom: 15px;
  }
}

@media (max-width: 900px) {
  .contact-me-section {
    margin-left: 0;
  }

  .heading-contact-page {
    font-size: 55px;
    margin-left: 25px;
  }
  .picture {
    max-width: 300px;
    margin-left: 25px;
  }
  .contact-page-icons {
    margin-left: 110px;
  }
}
